body {
    margin:0;
    width: 100%;
}
/* Éléments typographiques */
p, td {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(71, 71, 71);
  }
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #8855F1;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(71, 71, 71);
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #8855F1;
}
i {
    color: rgb(71, 71, 71);
}
i:hover {
    color: #E97400;
}
li a {
    color: rgb(71, 71, 71);
    text-decoration: none;
    list-style-type: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3e9f1;
    padding:1rem;
    border-radius: 0 0 1rem 1rem;
}
.nav {
    padding-right: 1rem;
}
.nav_link {
    color: rgb(71, 71, 71);
}
.nav_picto {
    padding-right: 0.5rem;
}
.nav a {
    color: #8855F1;
}
.nav a:hover {
    text-decoration: none;
    color: #E97400;
}
.logo_orinoco {
    max-width: 100%;
    width:35%;
}
.title_container {
    text-align: center;
    padding: 3rem;
}
.introduction_description {
    font-size: 1.2rem;
    font-family: Montserrat;
    font-style: italic;
}
.Hero_banner {
    padding-top: 32px;
    box-sizing: border-box;
    width: 100%;
}
/* FOOTER */
.container_footer {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    background-color: #f3e9f1;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}
.footer_title { 
    text-align: center;
    padding: 1.5rem;
}
.social {
    max-width: 40%;
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.picto_reseau {
    color: #8855F1;
}
.footer ul {
    text-align: center;
}
.footer li {
	list-style-type: none;
}
.footer a {
	color: rgb(71, 71, 71);
}
.footer a:hover {
    font-weight: 700;
    text-decoration: none;
    color: rgb(71, 71, 71);
}
.container_flex {
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
/* END FOOTER */

/* Articles produits */
.Container_camera {
	max-width: 100%;
	border-radius: 1.5rem;
    justify-content: center;
}
.ArticleProduct {
    display:flex;
    align-items: center;
	background-color: #FFFFFF;
	border-radius: 1rem;
	box-shadow: 0 0 16px #0000002e;
	cursor: pointer;
	margin-bottom: 3rem;
}
.FigureProduct {
    margin:0;
}
.PriceProduct {
    font-size: 1.3rem;
    font-weight: 700;
}
.Image_article { 
	max-height: 100%;
	height: 20rem;
	object-fit: cover;
	object-position: center;
	max-width: 100%;
	width: 70rem;
	border-radius: 0.7rem 0rem 0rem 0.7rem;
}
.DescriptionProduct {
    padding: 2.5rem;
}
.DescriptionProduct a {
    color: #8855F1;
}
.DescriptionProduct a:hover {
    text-decoration: none;
    color: #E97400;
}
/* Fiche produits */
.ImageProduct {
    max-height: 100%;
	height: 35rem;
	object-fit: cover;
	object-position: center;
	max-width: 100%;
	width: 30rem;
	border-radius: 1rem;
}
.Article_Product {
    display:flex;
    align-items: center;
	background-color: #FFFFFF;
	margin-bottom: 3rem;
}
.OptionsQuantity {
    margin-right : 1rem;
    border-radius: 1rem;
    padding: 0.3rem;
}
.OptionsCivilité {
    border-radius: 1rem;
    padding: 0.3rem;
    border: 1px solid #BEBEBE;
}
.options {
    border-radius: 1rem;
    padding: 0.3rem;
}
#panier, #ConfirmCommande, #SupprPanier, #Formulaire, #SendFormulaire, #Validation {
    background-color: #8855F1;
    color: white;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
    padding-left : 1rem;
    padding-right : 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    margin-top: 2rem;
    border: none;
    transition: all 0.5s ease;
}
#panier:hover, #ConfirmCommande:hover, #SupprPanier:hover, #Formulaire:hover, #SendFormulaire:hover, #Validation:hover {
    background-color: #E97400;
    transform: scale(1.08);
}
#ConfirmCommande, #SupprPanier, #Formulaire, #SendFormulaire, #Validation {
    margin-bottom: 3rem;
}
#ConfirmCommande, #SendFormulaire {
    float: right;
}
.Options {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ImagePanier {
	height: 5rem;
	object-fit: cover;
	object-position: center;
	width: 10rem;
	border-radius: 1rem;
}
.panier_icon {
    margin-bottom: 2rem;
}
.container_panierVide {
    margin: 5rem;
} 
/* END Articles produits */
/* Champs formulaire */
.coordonnees_title {
    text-align: center;
}
.form-style {
    margin: 10px auto;
    padding: 20px 12px 10px 20px;
    width: 100%;
}
.form-style td {
    padding: 1rem;
    list-style: none;
    margin: 2rem;
}
.form-style label {
    margin: 1px;
    padding: 0px;
    font-weight: bold;
}
.form-style, .required {
    color:#E97400;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea {
    border:1px solid #BEBEBE;
    padding: 8px;
    margin:2px;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 10px;
}
.error { 
    color: #D8000C;
    background-color: #FFBABA;
}
/* Panier */
.Container_Panier {
    width: 100%;
    height: 10rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.contact_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}
#prixTotalPanier {
    font-weight: bolder;
    color:#8855F1;
}
td, th {
    vertical-align: middle;
    border: 0.8px solid#8855F1;
    border-style: dotted;
    height: 6rem;
} 
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.SupprProduct {
    border-style: none;
    background-color: white;
}
.Panier_vide {
    margin: 8rem;
}
/* CONFIRMATION */
#Container_confirmation {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 1.3rem;
}
/* Animation */ 
.animation_article, .ImageProduct, .Hero_banner {
    transition: all 0.6s ease;
    animation: apparition_appareil;
    animation-fill-mode: both;
    animation-duration: 1s;
}
.animation_article:hover {
    transform: scale(1.08);
}
@keyframes apparition_appareil {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.validation_commande {
    padding: 0.7rem;
    border-radius: 10rem;
    background-color: green;
    color:white;
    margin-bottom: 2rem;
}